body {
    background-color:var(--bg);
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

:root {
    --theme: rgb(229, 9, 20);
    --bg: black;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-image: linear-gradient(12deg, rgba(0, 0, 0, 0.8500) 36.00%, rgba(0, 0, 0, 0.8465) 40.58%, rgba(0, 0, 0, 0.8361) 45.17%, rgba(0, 0, 0, 0.8187) 49.75%, rgba(0, 0, 0, 0.7944) 54.33%, rgba(0, 0, 0, 0.7632) 58.92%, rgba(0, 0, 0, 0.7250) 63.50%, rgba(0, 0, 0, 0.6868) 68.08%, rgba(0, 0, 0, 0.6556) 72.67%, rgba(0, 0, 0, 0.6313) 77.25%, rgba(0, 0, 0, 0.6139) 81.83%, rgba(0, 0, 0, 0.6035) 86.42%, rgba(0, 0, 0, 0.6000) 91.00%), url(BG.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: hidden;
    object-position: center;
    z-index: 1;
}

.main .centermain {
    margin: auto 70px auto 70px;
}

.main .nav {
    box-sizing: border-box;
    margin: 12px 72px 20px 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 7px;
    margin-top: 2px;
}

.netflix img {
    margin-top: 0px;
    padding: 0px;
    width: 150px;
}

.nav .sign {
    padding: 8px 14px 7px 17px;
    font-weight: 400;
    color: white;
    border-width: 1px;
    border-radius: 4px;
    border-color: var(--theme);
    background-color: var(--theme);
}

.eng {
    fill: rgb(255, 255, 255, 1);
    padding: 6px 13px 5px 15px;
    box-sizing: border-box;
    border: 2px solid white;
    font-weight: 400;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.7);
    background: rgba(22, 22, 22, 0.7);
    color: white;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 15px;
}

.eng .img1 {
    margin: 0 1px -1px -4px;
    height: 13px;
    z-index: -1;
}

.eng .img2 {
    background-color: white;
    margin-left: 8px;
    margin-bottom: 1px;
    height: 8px;
    z-index: -1;
}

.main .centermargin {
    margin: 300px 30px auto 30px;
}

.main .center .contentcenter {
    box-sizing: border-box;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .center .contentcenter .innercenterdiv {
    box-sizing: border-box;
    text-align: center;
}

.main .center .contentcenter .innercenterdiv h1 {
    font-weight: 900;
    font-size: 56px;
    margin-bottom: 10px;
    line-height: 125%;
}

.main .center .contentcenter p {
    box-sizing: border-box;
    margin-bottom: 31px;
    text-align: center;
    font-weight: 500;
}

.main .center .contentcenter .form {
    box-sizing: border-box;
    margin-bottom: 14px;
}

.main .center .contentcenter form input {
    fill: rgb(255, 255, 255, 1);
    padding: 20px 140px 16px 14px;
    box-sizing: border-box;
    border: 2px solid white;
    font-weight: 400;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.7);
    background: rgba(22, 22, 22, 0.7);
    color: white;
    border-radius: 4px;
    font-size: 16px;
}

.main .center .contentcenter form ::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.main .center .contentcenter form .getstarted {
    padding: 17px 20px 16px 16px;
    margin-left: 3px;
    color: white;
    border-width: 1px;
    border-radius: 4px;
    font-size: 18px;
    border-color: var(--theme);
    background-color: var(--theme);
}

.main .center .contentcenter form .getstarted img {
    margin: -10px auto -6px 10px;
}

.curve{
    background-color: var(--bg);
    overflow: hidden;
    box-sizing: border-box ;
    height: 80px;
    border-top-left-radius: 120% 250%;
    border-top-right-radius: 120% 250%;
}
.curve .curve1  {
    /* content: '';
    position: absolute; */
    height: 80px;
    z-index: -1;
    border-top-left-radius: 120% 250%;
    border-top-right-radius: 120% 250%;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}

.curve .curve2 {
    position: relative;
    z-index: 1;
    /* display: flex;
    align-items: center; */
    height: 78px;
    border: solid .25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    background-clip: padding-box;
}

.curve2 .trending {
    z-index: 1;
    box-sizing: border-box;
    margin: auto 150px auto 150px;
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.page2 {
    box-sizing: border-box;
    height: 300px;
    width: auto;
    background-color: var(--bg);
    color: white;
}

.page2 .page2center {
    margin: auto 80px auto 80px;
}
